html {
    height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
}

#comedor body {
    background-image: url(Salon.png);
    background-size: cover;
    background-position: center bottom;
}

#index body {
    background-image: url(Entrance.png);
    background-size: cover;
    background-position: center bottom;
}

* {
    outline: none !important;
}

a {
    color: #00B7FF;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 40px;
}

#comedor label {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 4px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 8px;
    width: 50px;
    text-align: center;
    float: right;
}

h3 {
    margin: 8px auto;
    font-weight: 100;
}

.component {
    width: 90%;
    margin: 10px auto;
    border-radius: 4px;
    display: block;
    overflow: auto;
    color: white;
    background: rgba(0, 0, 0, 0.35);
    border: none;
    padding: 10px 20px;
}

.component p {
    clear: both;
    margin: 20px 0 0;
    font-weight: 100;
    font-size: 18px;
}

.button-block button {
    display: block;
    margin: 12px;
}

#index button {
    margin: 12px auto;
}

#index h3 {
    text-align: center;
}

#alarma {
    text-align: center;
}

#alarma button {
    display: inline-block;
    margin-right: 7px;
}

button {
    margin-right: 7px;
    transition: all .2s;
}

.btn.btn-primary, .btn {
    border-radius: 5px;
    background: transparent;
    border-color: white;
}

.btn.btn-success, .btn.btn-success:focus {
    background: transparent;
    border-color: #5de27b;
    color: white;
}

.btn.btn-success:hover {
    color: white !important;
    background: #57c170 !important;
    border-color: #57c170;
}

.btn.btn-primary:hover, .btn:hover {
    background: white;
    color: black;
}

.apagado.btn-success, .apagado.btn-success:focus {
    background: transparent;
    border-color: #d64343;
}

.apagado.btn-success:hover {
    color: white;
    background: #d64343 !important;
    border-color: #d64343;
}

/*______INPUT RANGE_______*/

input[type=range] {
    -webkit-appearance: none;
    width: calc(100% - 60px);
    margin-top: 20px;
    display: inline-block;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: none;
    border-radius: 5px;
    height: 3px;
    background: white;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 100px;
    height: 16px;
    margin-top: -7px;
}

input[type=range]::-moz-range-track {
    width: 80%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 80%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
